/* 
    Document   : style
    Created on : Apr 19, 2012, 3:12:12 PM
    Author     : ismail
    Description:
        Purpose of the stylesheet follows.
*/

.menu_itm_map {
    display: inline-block;

    float: right;padding: 5px;
}
.menu_itm_map .menu_itminnr  a{

}.menu_itm_map .menu_itminnr{
    border-bottom: 1px #eee solid;  
}