<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>getProperty</servlet-name>
        <servlet-class>lib.engine.getProperty</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>properties</servlet-name>
        <servlet-class>lib.engine.front.properties</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>forms</servlet-name>
        <servlet-class>lib.tools.forms</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SAXServletDemo</servlet-name>
        <servlet-class>tmp.SAXServletDemo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>shwXml</servlet-name>
        <servlet-class>tmp.shwXml</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>list</servlet-name>
        <servlet-class>lib.engine.admin.list</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>control</servlet-name>
        <servlet-class>lib.engine.admin.Control</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>add</servlet-name>
        <servlet-class>lib.engine.admin.Add</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>files</servlet-name>
        <servlet-class>lib.tools.files</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>tests</servlet-name>
        <servlet-class>lib.tools.tests</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>test3</servlet-name>
        <servlet-class>lib.tools.NewExport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cropimage</servlet-name>
        <servlet-class>test.cropimage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>test.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Chart</servlet-name>
        <servlet-class>de.laures.cewolf.CewolfRenderer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CewolfServlet</servlet-name>
        <servlet-class>de.laures.cewolf.CewolfRenderer</servlet-class>
        <!-- sets storage implementation -->
        <init-param>
            <param-name>storage</param-name>
            <param-value>de.laures.cewolf.storage.TransientSessionStorage</param-value>
        </init-param>
        <!-- sets overlib.js location relative to webapp -->
        <init-param>
            <param-name>overliburl</param-name>
            <param-value>etc/overlib.js</param-value>
        </init-param>
        <!-- turn on or off debugging logging -->
        <init-param>
            <param-name>debug</param-name>
            <param-value>true</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>uploadfile</servlet-name>
        <servlet-class>lib.tools.uploadfile</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CewolfServlet</servlet-name>
        <url-pattern>/cewolf/*</url-pattern>
    </servlet-mapping>
    <!-- resource-ref>
	  <description>
	    Resource reference to a factory for java.sql.Connection
	    instances that may be used for talking to a particular
	    database that is configured in the server.xml file.
	  </description>
	  <resource-ref-name>
	    jdbc/testd	  <res-type>
	    javax.sql.DataSource
	  </res-type>
	  <res-auth>
	    Container
	  </res-auth>
	</resource-ref -->
    <servlet-mapping>
        <servlet-name>getProperty</servlet-name>
        <url-pattern>/getProperty</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>properties</servlet-name>
        <url-pattern>/properties</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>forms</servlet-name>
        <url-pattern>/forms</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SAXServletDemo</servlet-name>
        <url-pattern>/SAXServletDemo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>shwXml</servlet-name>
        <url-pattern>/shwXml</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>list</servlet-name>
        <url-pattern>/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>control</servlet-name>
        <url-pattern>/control</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>add</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>files</servlet-name>
        <url-pattern>/files</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>tests</servlet-name>
        <url-pattern>/tests</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>test3</servlet-name>
        <url-pattern>/test3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cropimage</servlet-name>
        <url-pattern>/cropimage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Chart</servlet-name>
        <url-pattern>/chart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>uploadfile</servlet-name>
        <url-pattern>/uploadfile</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <resource-ref>
        <res-ref-name>jdbc/resultsSource</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
