/* 
    Document   : style
    Created on : Jul 9, 2012, 10:49:16 PM
    Author     : ismail
    Description:
        Purpose of the stylesheet follows.
*/



.allreg{
    direction: rtl
}
input.button{width: 70px;
             text-align: right;
             margin: 5px;
}