/* 
    Document   : style
    Created on : May 2, 2013, 2:49:40 PM
    Author     : ismil
    Description:
        Purpose of the stylesheet follows.
*/




.pro_dub_cat_img img{
    height:100px;
    width:80px;
}
.items,.subs{
    width:100%;
    clear: both;

}
.myitem{

}

.addtocart

{
    text-align: right;   
}

div.tocart_updateData{
    color:#111;
}