/* 
    Document   : style
    Created on : May 2, 2013, 2:49:40 PM
    Author     : ismil
    Description:
        Purpose of the stylesheet follows.
*/
.allBlocks{

}
.Block{
    width:22%; 
    float:left;
    overflow: hidden;
    padding: 5px;
    margin:0.5%;
    background: #666;
}
.blackTitle{

}
.blackLocation{

}
.blackImage{
    width: 98%;
    margin: auto;
}

.blackImage img{

    max-width: 100%;
}

