# For security reasons, Option followsymlinks cannot be overridden.
#Options +FollowSymLinks








Options +SymLinksIfOwnerMatch

RewriteEngine on 
RewriteBase /

ErrorDocument 404 /404



RewriteRule ^admin/$ admin/index.php [L]

RewriteRule ^([a-zA-Z0-9]+)$ /$1/ [L]


RewriteRule ^main/do/([^/]*)/([^/]*)/$ ?do=$1&alias=$2&main=main [L]
RewriteRule ^main/do/([^/]*)/([^/]*)/([^/]*)/$ ?do=$1&alias=$2&main=main&id=$3 [L]


RewriteRule ^print/do/([^/]*)/([^/]*)/$ ?do=$1&alias=$2&print=print [L]
RewriteRule ^print/do/([^/]*)/([^/]*)/([^/]*)/$ ?do=$1&alias=$2&print=print&id=$3 [L]

RewriteRule ^do/([^/]*)/([^/]*)/$ ?do=$1&alias=$2 [L]
RewriteRule ^do/([^/]*)/([^/]*)/([^/]*)/$ ?do=$1&alias=$2&id=$3 [L]







RewriteRule ^print/([^/]*)/$ ?alias=$1&print=print [L]
RewriteRule ^print/([^/]*)/([^/]*)/$ ?show=cat&alias=$1&id=$2&print=print [L]
RewriteRule ^print/([^/]*)/([^/]*)/([^/]*)/$ ?show=item&alias=$1&id=$3&catid=$2&print=print [L]

RewriteRule ^print/([^/]*)/([^/]*)/([^/]*)_([^/]*)/$ ?show=item&alias=$1&id=$3&page=$4&print=print&catid=$3  [L]
RewriteRule ^print/([^/]*)_([^/]*)/$ ?alias=$1&page=$2&print=print[L]
RewriteRule ^print/([^/]*)/([^/]*)_([^/]*)/$ ?show=cat&alias=$1&id=$2&page=$3&print=print [L]



RewriteRule ^main/([^/]*)/$ ?alias=$1&main=1 [L]
RewriteRule ^main/([^/]*)/([^/]*)/$ ?show=cat&alias=$1&id=$2&main=1 [L]
RewriteRule ^main/([^/]*)/([^/]*)/([^/]*)/$ ?show=item&alias=$1&id=$3&catid=$2&main=1 [L]

RewriteRule ^main/([^/]*)/([^/]*)/([^/]*)_([^/]*)/$ ?show=item&alias=$1&id=$3&page=$4&main=1&catid=$3  [L]
RewriteRule ^main/([^/]*)_([^/]*)/$ ?alias=$1&page=$2&print=print[L]
RewriteRule ^main/([^/]*)/([^/]*)_([^/]*)/$ ?show=cat&alias=$1&id=$2&page=$3&main=1 [L]



RewriteRule ^site/([^/]*)/$ ?site=$1 [L]
RewriteRule ^site/([^/]*)/([^/]*)/$ ?alias=$2&site=$1 [L]
RewriteRule ^site/([^/]*)/([^/]*)/([^/]*)/$ ?show=cat&alias=$2&id=$3&site=$1 [L]
RewriteRule ^site/([^/]*)/([^/]*)/([^/]*)/$ ?show=item&alias=$2&id=$4&catid=$3&site=$1 [L]
RewriteRule ^site/([^/]*)/([^/]*)/([^/]*)/([^/]*)/$ ?show=item&alias=$2&id=$4&site=$1&catid=$3  [L]


RewriteRule ^site/([^/]*)_([^/]*)/$ ?alias=$2&page=$3&site=$1[L]
RewriteRule ^site/([^/]*)/([^/]*)_([^/]*)/$ ?show=cat&alias=$2&id=$3&page=$4&site=$1 [L]


RewriteRule ^lang-([^/]*)/([^/]*)_([^/]*)/$ ?alias=$2&page=$3&lang=$1[L]
RewriteRule ^lang-([^/]*)/([^/]*)/([^/]*)_([^/]*)/$ ?show=cat&alias=$2&id=$3&page=$4&lang=$1 [L]
RewriteRule ^lang-([^/]*)/([^/]*)/([^/]*)/([^/]*)_([^/]*)/$ ?show=item&alias=$2&id=$4&page=$5&lang=$1&catid=$3  [L]

RewriteRule ^lang-([^/]*)/$ ?lang=1[L]


RewriteRule ^lang-([^/]*)/([^/]*)/$ ?alias=$2&lang=1[L]
RewriteRule ^lang-([^/]*)/([^/]*)/([^/]*)/$ ?show=cat&alias=$2&id=$3&lang=$1 [L]
RewriteRule ^lang-([^/]*)/([^/]*)/([^/]*)/([^/]*)/$ ?show=item&alias=$2&id=$4&lang=$1&catid=$3 [L]





RewriteRule ^search/([^/]*)/$ ?alias=search&search=$1 [L]




RewriteRule ^([^/]*)_([^/]*)/$ ?alias=$1&page=$2 [L]
RewriteRule ^([^/]*)/([^/]*)_([^/]*)/$ ?show=cat&alias=$1&id=$2&page=$3 [L]
RewriteRule ^([^/]*)/([^/]*)/([^/]*)_([^/]*)/$ ?show=item&alias=$1&id=$3&page=$4&catid=$2  [L]


RewriteRule ^([^/]*)/$ ?alias=$1 [L]
RewriteRule ^([^/]*)/([^/]*)/$ ?show=cat&alias=$1&id=$2 [L]
RewriteRule ^([^/]*)/([^/]*)/([^/]*)/$ ?show=item&alias=$1&id=$3&catid=$2 [L]






