html {
    background: #171717
        ;


    overflow: hidden;
    margin: 0pX;
    padding: 0px;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;


}
.createAnother{
    color:#eee;
}
.aciTableAllRow td{
    text-align: center !important;
}


.lastCollapsable-hitarea{
    background-position: top;
}
.treeview li.lastCollapsable {
    background-position: 0 -111px;
}
.acds .logicalServers{
    font-size: 7.5pt;
    margin-top: -1px;
}

.subTitle{
    margin-bottom: 4px;
}
.div_result_tabs li{
    background: url("images/tab_bg.png") repeat-x scroll 0 0 transparent;
    border: 1px solid #D7D7D7;
    border-radius: 13px 13px 13px 13px;
    color: #151515;
    cursor: pointer;
    float: left;
    font-size: 8.4pt;
    height: 24px;
    line-height: 25px;
    margin: 0 1px;
    padding: 0 13px;


}

.subtabs li{


}
.subtabs{
    display: none;
    background: url("images/tab_bg_act.png") repeat-x scroll 0 0 transparent;


    background: url("images/tab_bg_act.png") repeat scroll 0 0 / 100% 100% transparent;
    border-radius: 20px 20px 20px 20px;
    clear: both;
    display: none;
    left: 10px;
    margin-top: 0;
    padding: 3px;
    position: absolute;

    z-index: 1000;
}

.xactWindows select{
    min-width: 100%;
}

.lodingDiv{
    width:100%;
    height:100%;
    position: absolute;
    background:   url("images/loading_small.gif");
    background-position:center;
    top:0px;



}

.div_result_tabs{

    height:33px;
    overflow: visible;
    width:100%
        ;
    background-color: #e3e3e3;




}

.div_result_tabs li.act{

    background: url('images/tab_bg_act.png') repeat-x;
    color: #fff

}


.optins{
    font-size: 0;
    height: 17px;
    width: 16px;
    background-position: -6px -22px;
    background: url("images/options.png");

    position: absolute;
    z-index: 1000;
    right:3px;
    top:8px;
    cursor: pointer


}
.options_data{
    display: none;
    right:1px;
    top:26px;
    position: absolute;
    z-index: 1000;


    color: white;
    font-family: Arial;
    font-size: 8pt;

    width: 130px;
    text-align: left;
    padding-top:5px;


    background: url("images/submenu_bg.png");
    box-shadow: 3px 3px 12px #000;
    border-radius: 0 0 6px 6px;


}

.alloptions{
    width:130px; 


}

.options_data li{
    cursor: pointer  
        ;

    color: #999;
    font-size: 8pt;


    text-shadow: 2px 2px 12px black;
    border-bottom: 1px #2C2B2B solid;



}
.options_data ul{

    margin-left: 0px;

}
.comblog tr{
    background: url("images/row_bg.png");
    height:30px;
    font-family: Arial;
    font-size: 8pt;
}
.comblog table{
    width:100%;
}




.myclose, .showframe .mybtclos, .comblog  .bt_close ,.comblog .bt_min{
    width:20px; 
    position: absolute;
    top:2px; 
    right:2px; 
    height:19px;
    background: url("images/close_bt.png") no-repeat;
    cursor: pointer
}
.comblog .bt_min{
    background: url("images/min_bt.png") no-repeat;
    right:24px;
    background-position: 100% 100%;

}
.comblog .bt_min.meclass{
    background: url("images/max_bt.png") no-repeat;
    right:24px;
    background-position: 100% 100%;

}



.comblog .bt_min:hover{
    background-position: 100% 2%;
}

.myclose:hover,.comblog .bt_close:hover{
    background-position: 103% 0%;
}
.im_tabs_li{
    background: #eee;
    width:103px
        ;
    cursor: pointer;

    text-align: center;
    font-size: 12px;
    vertical-align: middle;
    height:35px
        ;
    line-height: 15px;
    margin-left: 37px;


}

.im_tabs_li.act{
    background: none repeat scroll 0 0 #333333;
    color:#ccc;
    margin-left: 37px;

}
#map-1{
    height:100%;
}
.im_tabs_li:hover{

    margin-left: 34px; 

}


.im_tabs_li span{


}

.im_divs{
    overflow: hidden;
    border: 4px #595959 solid;
    position: absolute;
    height: 100%;
    right: 0px;
    left: 0px;
    bottom: 5px;
    padding:2px;
    top: -1px;
    margin-right: 103px;

}


.rs_bt_close{
    width:21px;
    height:21px; 
    background: url("images/rs_min_bt.png") no-repeat;
    position: absolute;
    right:3px;
    top:3px;
    cursor: pointer;
    right: 8px;
    top: 7px;

}




.view_immap,.view_imgroup{

    /*  background: url("images/glo_bt.png") no-repeat;*/
    cursor: pointer;
    /*background-position: 100% 100%;*/
    margin-left: 0px;

}
.view_immap.act,.view_imgroup.act{

    /*  background-position: 0% 100%;*/
    margin-left: -3px;
    display: none

}


.view_immap:hover,.view_imgroup:hover{

    /* background-position: 0% 100%;*/
    margin-left: -3px;



}
.view_imgroup:hover{

    /*  background-position:49% 100%;*/
}

.view_imgroup{
    /*background: url("images/gr_bt.png") no-repeat;*/

    /* background-position: 100% 100%;*/
}


.view_immap:hover{
    /*  background-position: 50% 100%;*/



}
.mi .frm_input ,.mi frm_label{
    width:30%;

}
.scenario_par_OLD_VALUE{
    margin-left: 20px;  

}
.scenario_par_NEW_VALUE{
    margin-left: 20px;
}





.rmvcomTop.bt{
    background: url("images/windows_bt_bg.png");
    padding: 3px;
    border: 2px black solid;
    border-radius: 5px;
    min-width: 70px;
    height: 23px;
    width: 80px;
    cursor: pointer;
}

.rmvcomTop.bt.Detail,.bt.Detail{
    color:#EEE;
}


.myloading ,.myloadingcom{
    width: 0%;
    top:0;
    bottom: 0px;
    left: 0px;
    right: 0px;
    /* background: url("images/loading_bg.png"); */
    cursor: pointer;
    position: absolute;


    ;
    z-index: 00000000000;
}


.myloading img ,.myloadingcom img{
    position: fixed;
    left:43%;
    top:40%;

    border-radius: 10px;
    -webkit-box-shadow: 3px 3px 12px #000;
    -moz-box-shadow: 3px 3px 12px #000;
    box-shadow: 3px 3px 12px #000;
}

.showframe{
    position: fixed;
    width:65%;
    left:20%;
    height:60%;
    top:20%;

    padding: 5px;
    z-index: 10000;
}

.fieldset{

    background: #fff;
}
.SeditBT{
    background: url("images/sedit.png");

    background-position: 100% 100%;  
}
.SeditBT:hover{

    background-position: 0 0; 


}

#outlineContainer_con,#myseoutlineContainer_con,#groupoutline_con{
    position: relative
}
.pro_list_panel{
    display: none
}
/*
.serves div,#xactContainer,.serves{
    background: #fff;
}*/
.light_bg{
    /* background-color: #CBDDF3;
     background-image: -moz-linear-gradient(center top , #DAE7F6, #CDDEF3 45%, #ABC7EC 46%, #ABC7EC 50%, #B8CFEE 51%, #CBDDF3);
     background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #DAE7F6), color-stop(45%, #CDDEF3), color-stop(46%, #ABC7EC), color-stop(50%, #ABC7EC), color-stop(51%, #B8CFEE), color-stop(100%, #CBDDF3));
     background-image: linear-gradient(top, #DAE7F6,#CDDEF3 45%,#ABC7EC 46%,#ABC7EC 50%,#B8CFEE 51%,#CBDDF3);*/
}
.dark_bg{
    /*  background-color: #CBDAEF;
      background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #DDE7F5), color-stop(100%, #CBDAEF));
      background-image: -moz-linear-gradient(top, #DDE7F5,#CBDAEF);
      background-image: linear-gradient(top, #DDE7F5,#CBDAEF);*/
}

.button.act{
    /* background-color: #DEECFD;
     background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, white), color-stop(25%, #F5F9FE), color-stop(45%, #DEECFD));
     background-image: -moz-linear-gradient(top, white,#F5F9FE 25%,#DEECFD 45%);
     background-image: linear-gradient(top, white,#F5F9FE 25%,#DEECFD 45%);*/

}
.button{
    /*
        background-color: #DEECFD;
        background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #CCDEF6), color-stop(25%, #D6E6FA), color-stop(45%, #DEECFD));
        background-image: -moz-linear-gradient(top, #CCDEF6,#D6E6FA 25%,#DEECFD 45%);
        background-image: linear-gradient(top, #CCDEF6,#D6E6FA 25%,#DEECFD 45%);*/


}



.footer ,  .right, .workarea, .main ,.left ,.menu{
    margin: 0px;
    padding: 0px
}
html{
    overflow: hidden;
}


















.div_group{
    height:1100px;
    background: #fff; 


}#div_group{

    display: none;
}

#div_group{

    display: none;
}

#div_result{
    display: none;
}

.colorLines,.colorLinesg{
    border: medium none;
    border-radius: 20px 20px 20px 20px;
    font-size: 0;
    height: 12px;
    margin-left: 3px;
    position: relative;
    top: -1px;
    width: 12px;


}.colorLines_con,.colorLines_cong{

    width: 30px;
    height: 28px;
    background-image: url("images/icons.png");
    float: left;
    overflow: hidden;

    cursor: pointer;
    background-position: -270px 100%;
    margin-left: 5px;
    margin-top: 1px;


}

.com_viewSataus{
    margin-top: 5px;
}

.colorLines_con,.colorLines_cong {
    width: 20px;
    padding: 0px 5px 0px 5px;


}



.div_pro{
    position: absolute;
    width:150px;
    background: #eee;
    top:40%;
    height:150px;
}
.cont{
    background: #f1f1f1; 
    width:100%;
    height:100%;
}

.tabbody{
    width: 100%;
    height:100%;
    /*display: none*/
}
#xactContainer{
    margin-top: 20px
}
.tbar,.infobar,.group_tabs{
    height: 30px;
    width: 100%;
    background: #f1f1f1;
    position: absolute;
    display: block;
    z-index: 1000;
    left:0;
    top:0px;
}

.group_tabs{
    top:-8px;
    background: #E3E3E3;
}


.do_group .tbar{
    top: 78px;



}
div.tbar{

    top:-1px;
}
.do_group{

    margin-top: 45px;

}




.group_tabs li {
    width: 84px;
    height: 26px;
    background: url('images/group_tabs_bg.png') no-repeat;
    color: #151515;
    line-height: 25px;
    padding-left: 8px;
    font-size: 9pt;
    margin-top: 1px;
    float: left;

}


.group_tabs li.act{

    background-position: 100% 100%;
    color:#fff;


}

.th_close.act{
    background-position: 0px 15px;

}



.infobar{

    bottom: 10px;

}

.tbar li{
    list-style: none;
    float:left;
    margin-top: -12px;
}
.tbar img, img.mxToolbarItem{
    width:20px;
    padding: 2px 5px 2px 5px;
    border-left: 1px #99BBE8 solid;
    margin-top:-5px;

}

#map{
    margin-top: 30px;
}
div.mxPopupMenu {
    position: absolute;
    /*background: url('../images/window.gif');*/
    border-style: solid;
    border-width: 1px;
    border-color: #4e4e76;
    -webkit-box-shadow: 3px 3px 12px #C0C0C0;
    -moz-box-shadow: 3px 3px 12px #C0C0C0;
    box-shadow: 3px 3px 12px #C0C0C0;
    background: #f0f0f0;

}
table.mxPopupMenu {
    border-collapse: collapse;
    margin-top: 1px;
    margin-bottom: 1px;
}
tr.mxPopupMenuItem {
    color: black;
    cursor: default;
}
tr.mxPopupMenuItemHover {
    background-color: #000066;
    color: #FFFFFF;
}
td.mxPopupMenuItem {
    padding: 2px 30px 2px 10px;
    font-family: Arial;
    font-size: 8pt;
}
td.mxPopupMenuIcon {
    padding: 2px 4px 2px 4px;
    /*background-color: #D0D0D0;*/
    border-left:1px #e2e3e3 solid

}

.menu li:hover,.menu li.act ,.tabs li:hover ,.tabs li.act  {
    height:28px;;
    line-height: 28px;

}

div.menu li{
    margin-top: 0px;
    height:28px;;
    line-height: 28px;

    cursor: pointer;
    list-style: none;
    float:left;
    margin-left:2px;


    text-align: center;
    margin-top:-1px;

    border-bottom:none;

    font-family: helvetica,tahoma,verdana,sans-serif;
    font-size: 11px;
    font-weight: bold;
    padding:0px 15px 0px 15px;
}

.menu li.act{



    background: url("images/menu_top.png");
}
div.menu{
    height:43px;
    /*background-color: #171717;*/

    margin-top: -15px;


}

div.menu ul{
    margin-left: -2px;
    margin-top: 16px;
}
.submenu{
    background: url("images/submenu_bg.png") repeat scroll 0 0 transparent;
    border-radius: 0 0 6px 6px;
    box-shadow: 3px 3px 12px #000000;
    display: none;
    margin-left: -15px;
    margin-top: -1px;
    position: absolute;
    width: 160px;
    z-index: 2147483647;

}

.submenu .submenu{
    border-radius: 6px 6px 6px 6px;
    margin-left: 155px;
    margin-top: -43px;

}






.menu li a{

    color: #fff;


}


.submenu li a{

    color:#999999;


    font-size: 8pt  ; 
    display: block;
    text-align: left;
    text-shadow: 2px 2px 12px #000;
    border-bottom:1px #2c2b2b solid;
    width:90%;
    margin: auto;


}


div.menu .submenu li{
    border: none;



    width:100%;
    clear: both;

    margin-left:-10px;   



}

.submenu li:hover{

    margin:0px;
    height: 30px;
}
.submenu ul{
    width: 100%;
    margin: 0px;
    float: left;
    margin-left: -40px;
}



.group_tabs{
    margin-top: -40px;
    margin-left: 0px;
}

.tabs li{
    cursor: pointer;
    list-style: none;
    float:left;
    margin-left:2px;

    padding :0px 15px 0px 15px;

    text-align: center;
    margin-top:-8px;
    border:1px #8DB2E3 solid;
    border-bottom:none;
    color: #416AA3;
    font-family: helvetica,tahoma,verdana,sans-serif;
    font-size: 13px;
    font-weight: bold

}
.tabs .level{

    margin-top:0px;
    clear: both
}
.tabs .level li {
    border: none;
    height:auto;;
    line-height: 28px;
    margin-top:0px;
    float: none; clear: both;
    float: left;
    font-weight: normal;
    text-align: left;
}
.tabs .level li:hover {
    height:auto;;
    line-height: 28px;



}


.tabs .level li .hitarea{
    margin-top: 5px; 
}







.label {
    width:99%;




    font-size: 11px;
    line-height: 15px;
    margin: auto;;
    height:22px



}



.form{
    width:200px;
    position: absolute;
    height:200px;
    z-index: 10;

}
.list_body{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #99BBE8;
    height: 170px;
    overflow: hidden;


}

li{
    list-style: none
}

.getgroup{
    cursor: pointer;
    border-bottom:  1px solid #99BBE8;

    /* background: #eee; */
}
.getgroup.selected{

    background: #2d2d2d;
    color:#fff;
}


.do_group{

    background: none repeat scroll 0 0 #FFFFFF;
    height: 1200px;

}
.list_body ul {

    margin-left: 0px;


}
.tabs_divs{
    width:100%;
    clear:both;
    position: relative;
    height:100%;
    margin-top: 5px;


}
.do_left{
    float:left;
}


.do_right{
    float:left;
}




.tabs_divs .tabbody{
    position: absolute
        ;
}
.boxdha{



    /* box-shadow:1px 1px 2px #eee;
 -webkit-box-shadow:1px 1px 2px #eee;
 -moz-box-shadow: 5px 5px 5px #ccc;*/
}




.form_headr {



}


.group_tabtbr{



    height: 120px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: 100000;
    overflow: hidden;



}


.group_outline_bt{
    position: absolute;
    right: 0px;
    top: 150px;
    width: 170px;
    z-index: 100000;
    height:20px;

    border :1px  solid #8DB2E3;

    color: #416AA3;
    cursor: pointer;

    font-family: helvetica,tahoma,verdana,sans-serif;
    font-size: 13px;
    font-weight: bold;
    list-style: none outside none;


    text-align: center;
    border-top:none;



}

.group_outline_bt{
    position: absolute;
    right: 0px;
    top: 150px;
    width: 170px;
    z-index: 100000;
    height:20px;

}


.form_headr{



    border-radius: 4px 4px 0 0;
    border-style: solid;
    border-width: 1px;
    height:22px;
    border-color: #99BBE8;;
    width:200px;
    cursor: move;
    color: #04468C;
    font-family: tahoma,arial,verdana,sans-serif;
    font-size: 10pt;
    font-weight: bold;

    line-height: 22px;  
}
.form_body
{
    width:200px;

    height:180px;
    border:1px #99BBE8 solid;
    overflow: hidden;


}
.tools_bt.form_close{  
    background-position: 0 0px;
    float:right;
    margin: 4px 2px  0px;

}
.tools_bt.form_min{
    background-position: 0 -210px;
    float:right;
    margin: 4px 2px  0px; 

}
.main{
    width: 86%;
    position: absolute;
    top: 25px;
    bottom: 10px;
    right: 0px;

    margin-top: 10px;

    float: left;
    overflow: hidden;

}

.main .tabs{
    height:33px;




}

.left_bottom.models_list{
    margin-top: 0px
}
.main .tabs .button{
    height:40px;
    line-height: 40px;
    border:1px #3e7bb6 solid;
    border-bottom:none;
    background: url("images/top_taps_bg.png") repeat-x;
    color:#fff;

    margin-top: -9px;
    margin-left: 0px;
    background-size: 100% auto


}
.main .tabs .button.act{



    background: url("images/top_taps_bg_act.png ") repeat-x; 
    color:#161616; background-size: 100% auto
}



.main .tabs .button:hover{


    background: url("images/top_taps_bg_hover.png") repeat-x;
    color:#fff;background-size: 100% auto

}







.logo{
    width: 14%;
    position: absolute;
    top: 0px;
    /* bottom: 10px;*/
    left: 0px;
    background-color: #171717;

    height:130px;

    background: #171717  url("images/logo.png")  center no-repeat;




}
.hearder{
    width: 86%;
    position: absolute;
    right: 0px;

    height:76px;

    background: #171717  url("images/header_bg.png")  center repeat-x;
}

.all_footer{


}
.left{


    width: 14%;
    position: absolute;
    top: 130px;
    bottom: 10px;
    left: 0px;
    background-color: #1D1D1D;



}


.tools_bt.bttom_close_left{

    width:20px; 


    height:15px;


    top:4px;
    background:  url("images/left_close.png")   no-repeat;


}
.tools_bt.bttom_add_left{

    width:20px; 


    height: 16px;


    top: 4px;
    background:#eee;

    right:21px
        ;

    font-size: 18px;
    color: #222
        ;

    cursor: pointer;

    line-height: 13pt;

}

.left .label{
    color:#fff;
    margin-top: 5px;line-height: 12px;
    text-align: center;
}

.tools_bt{

    /*  background-color: transparent;
      background-image: url("images/tool-sprites.gif");
      background-repeat: no-repeat;
      cursor: pointer;
      height: 15px;
      margin: 0;
      overflow: hidden;
      width: 15px;*/

}
.close_left {


    background-position: 0 -180px;
    float: right;
    margin:3px;

}


.left_top ,.left_bottom{
    height:120px;
    margin-top: 30px;


}



.left_top_label .close_left,.left_bottom_label .close_left{

    background-position: 0 -15px; 
}
.footer1 ,.footer2, .footer3 ,.right_panel,left_panle,.top_panle,.footer_panel,.left_panel{
    width:58%;
    height:100px;
    position: absolute;
    border:1px #99BBE8 solid;
    bottom:0px;
    overflow: hidden;
    right:0px;
}




.right,.min_left{
    position: absolute;
    right:0px;
    width:200px;
}
.right_panel ,.left_panel{
    width:200px;
    top:100px;
}

.right_panel .close_right ,.left_panel .close_min_left {
    background-position: 0 -165px;   
    margin-top:3px
}
.left_panel .close_min_left{
    float:right;
    margin-right:3px  ;   background-position: 0 -180px;
}

.min_left{
    right:auto;
    left:0px;

}
.left_panel{
    right:auto;
    left:0px;
    width:100px;
    height:200px;
}

.top{

    top:0px;

    bottom:auto
}

.top_panle{

    top:22px;
    bottom:auto 
}
.top .label_top {
    top:auto;
    bottom: 0px;
    position: absolute;
    width: 100%;
    z-index: 100;
}
.top_panle .close_top{
    background-position: 0 -210px;   
    margin-top:3px;
    float:right;

}



.footer2{
    width:20%;
    left: 0%
}

.footer3{
    width:20%;
    left: 21%

}


.footer1 .label , .footer2 .label, .footer3 .label{
    width:100%;
    margin:0px;




}

.close_footer{
    float:right;
    background-position: 0 -195px;
    margin:3px;
}
.label{

    color: #04468C;
    font-family: tahoma,arial,verdana,sans-serif;
    font-size: 11px;
    font-weight: bold;


    line-height: 22px;


    /* width: auto; */

}

.label_title{
    width:60%;
    float:left
}
.tools_bt{
    position:absolute;
    right:0px;}

.label_right .tools_bt{
    left:0px;
    right: auto

}
.label_right .label_title{
    width:60%;
    float:right;
    text-align: right
}

.label_top .tools_bt{
    left:auto;
    right: auto
        ;
    bottom:0px;
    right:0px;

}.tools_bt{
    margin:3px;
}    
.left_bottom{

    /*  border: 1px solid #99BBE8;*/

}
.tools_bt{
    top:0px;
}
.left_bottom   {
    position: relative;
    /*  overflow: hidden*/
    height:200px;
}

a{
    text-decoration: none;
    color: #04468C;
}.tabbody {

    background: #fff;
    /* overflow: hidden;*/
    margin-top: -8px;

    top:0px;
    bottom:10px;
}
.div_imp{
    height: 100%;
}
.pgbody{
    position: relative

}


.loading{

    position: absolute;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    background: transparent;
    z-index: 1000;


}
.img{
    position: absolute;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;

    z-index: 1000;

    background:url(images/loading2.gif) no-repeat center transparent;

    border-radius: 10px;
    -webkit-box-shadow: 3px 3px 12px #000;
    -moz-box-shadow: 3px 3px 12px #000;
    box-shadow: 3px 3px 12px #000;
}

#xactContainer{
    margin-top: 35px;

    background:url(images/mybgc.png) repeat  #fff;
}

#xactsev,.do_group,.tabbody,.serves {

    //  background: url(images/mybgc.png) repeat   #fff;


}

.pub_menu{
    position: absolute;

    width:160px;
    z-index: 1000000;
}




div.mxPopupMenu,div.pub_menu,div.pub_menu  ul.submenu {
    position: absolute;
    /*background: url('../images/window.gif');*/

    -webkit-box-shadow: 3px 3px 12px #C0C0C0;
    -moz-box-shadow: 3px 3px 12px #C0C0C0;
    box-shadow: 3px 3px 12px #C0C0C0;
    background: #1a1a1a;
    overflow: hidden

}
div.pub_menu  ul.submenu{
    padding :5px; 
    margin-top: -30px  ; 
    margin-left: 135px
}
div.pub_menu  ul.submenu li{
    background: #ffffff ;
    width:90%;
    border:none;
    border-bottom:1px dashed #1a1a1a;

}

.show_advanced_projection ,.showframe{
    -webkit-box-shadow: 3px 3px 12px #C0C0C0;
    -moz-box-shadow: 3px 3px 12px #C0C0C0;
    box-shadow: 3px 3px 12px #C0C0C0;
    background: #1a1a1a;
    overflow: hidden; 
    padding-top: 25px;
    border-radius: 5px  ; 
}






.show_advanced_projection .data {

    background: #ffffff url("images/buopbg.png") bottom repeat-x;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 5px  ; 
    margin: 5px;

}
.getresuiltp .data {
    min-height:400px; 
}

.getresuiltp{
    min-height:400px; 
}

table.mxPopupMenu ,div.pub_menu{
    border-collapse: collapse;
    margin-top: 1px;
    margin-bottom: 1px;
}
tr.mxPopupMenuItem, div.pub_menu li{
    color: black;
    cursor: default;
    font-size: 8px;
    width:100%;
    clear: both;
    /*  height:16px;*/
    margin-top:0px;
}
tr.mxPopupMenuItemHover ,div.pub_menu li:hover,div.pub_menu  ul.submenu li:hover{
    background-color: #1a1a1a;
    color: #FFFFFF;
}
td.mxPopupMenuItem  {
    padding: 2px 30px 2px 10px;
    font-family: Arial;
    font-size: 7pt;
}
td.mxPopupMenuIcon ,div.pub_menu .Icon {
    padding: 2px 4px 2px 4px;
    /*background-color: #D0D0D0;*/
    border-right:1px #e2e3e3 solid
        ;float:left;

}



div.pub_menu  .split{
    border-bottom:1px #e2e3e3 solid ;
    height:1px;
    width:100%
}
div.pub_menu {
    margin-top: -10px;
}

div.pub_menu .Icon img{
    width: 16px;
}


div.pub_menu .Icon.nothing img{
    width: 7px;
}

div.pub_menu  ul,ul.submenu  {
    background: #ffffff url("images/buopbg.png") bottom repeat-x;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 5px  ; 
    margin-bottom: 5px;
}

div.pub_menu  ul li{

    border-bottom:1px dashed #1a1a1a;
    width:90%;
    height:24px;
    line-height: 23px;

    background: none



}
div.pub_menu .Icon {
    margin-left: -8px;
    margin-right: 4px;
}

.tree li{
    font-family: Verdana, helvetica, arial, sans-serif;
    font-size: 7pt;
    color: #333;
}


.prolist{
    height:150px;
    overflow: auto
}

.req{
    color: red;
}

.scenario_view_Detail_L_T{
    color:#fff;
    float:left;
    margin-top:3px;
}

.scenario_view_Detail_L{
    color:#fff;
    float:left
}


.model_propreties .frm_row .frm_label{
    float: left;
    width: 20%;
}

.model_propreties textarea{
    width:100%;
}

.frm_row{
    font-size: 9px;
    width:100%;
    font-family: Verdana, helvetica, arial, sans-serif;
}

.colorLines_con{

    background-position: -270px 100%;
}


.cbrItmen,.era{
    width: 30px;
    height: 28px;
    background-image: url("images/icons.png");
    float: left;
    overflow: hidden;
    margin-top: 2px;
    cursor: pointer


}
.cbrItmen.spliter{
    width: 2px;
    background: #333;
    margin-top: 0;
    height: 29px;
    margin: 0 5px;
}






.era.newMarker.forloctions{
    background-image: url("images/icons.png");

    background-position: -420px 100%;
}



.era.newClouds{
    background-image: url("images/icons.png");

    background-position: -510px 100%;
}




.era.newClouds.on,.era.newClouds.newClouds.on:hover{
    background-image: url("images/icons.png");

    background-position: -540px 100%;
}





.era.newLine.forloctions{
    background-image: url("images/icons.png");
    background-position: -450px 100%;
}




.era.newMarker.forloctions.on,.era.newMarker.forloctions.on:hover{
    background-image: url("images/icons.png");

    background-position: -480px 100%;
}


.era.newLine.forloctions.on,.era.newLine.forloctions.on:hover{
    background-image: url("images/icons.png");
    background-position: -480px  1px;
}








.cbrItmen.copy.dis{

    background-image: url("images/icons.png");

    background-position: -750px 1px;
}

.cbrItmen.copy.dis{

    background-image: url("images/icons.png");

    background-position: -750px 1px;
}




.implementation_import{


    background-position: -778px 1px;


}




.implementation_import:hover{


    background-position: -778px 100%;


}
.cbrItmen.past.dis{

    background-image: url("images/icons.png");

    background-position: -690px 1px;


}

.cbrItmen.copy{

    background-image: url("images/icons.png");

    background-position: -720px 100%;
}
.cbrItmen.past{

    background-image: url("images/icons.png");

    background-position: -690px 100%;


}

.cbrItmen.startRecPath{

    background-image: url("images/icons.png");

    background-position: -390px 100%;
}


.cbrItmen.startRecPath.statrec{

    background-image: url("images/icons.png");

    background-position: -360px 100%;
}

.cbrItmen.Edit,.cbrItmen.edit_node ,.era.implementation_edit.forloctions
{

    background-image: url("images/icons.png");
    background-position: -330px 100%;

}
.cbrItmen.cu_server{

    background-image: url("images/icons.png");
    background-position: -630px 100%;

}

.cbrItmen.cu_server.dis{

    background-image: url("images/icons.png");
    background-position: -660px 1px;

}







.cbrItmen.Edit.dis,.cbrItmen.Edit.dis:hover,.cbrItmen.edit_node.dis:hover ,.cbrItmen.edit_node.dis ,.era.implementation_edit.forloctions.dis
{

    background-position: -330px 1px;

}

.cbrItmen.delete.dis,.cbrItmen.delete.dis:hover,.cbrItmen.delete_item.dis:hover,.cbrItmen.delete_item.dis,.era.implementation_delete.forloctions.dis
{

    background-position: -300px 1px;

}





.cbrItmen.delete,.cbrItmen.delete_item,.implementation_delete.forloctions{


    background-image: url("images/icons.png");
    background-position: -300px 100%;


}

.era.newClouds.newClouds:hover{
    background-image: url("images/icons.png");

    background-position: -510px 1px;
}


.era.newMarker.forloctions:hover{


    background-position: -420px 1px;
}


.era.newLine.forloctions:hover{

    background-position: -450px 1px;
}





.cbrItmen.Edit:hover
{


    background-position: -330px 1px;

}

.cbrItmen.delete:hover{



    background-position: -300px 1px;


}







.colorLines{
    background-position: -270px 100%;
}

.line_b{
    display: none
}
.line_minus ,.line_minusg{
    background-position: -240px 100%;

}
.line_nurmal,.line_nurmalg{
    background-position: -210px 100%;
}
.line_plus , .line_plusg{
    background-position: -180px 100%;


}






.line_minus:hover{
    background-position: -240px 1px;

}
.line_nurmal:hover{
    background-position: -210px 1px;
}
.line_plus:hover{
    background-position: -180px 1px;


}






/*
.line_minus:hover{
background-position: 98px 0px;

}
.line_nurmal:hover{
background-position: 65px -8px;
}
.line_plus:hover{
 background-position: 130px -5px;

}

*/




.zoomIn:hover{background-position: 0px 1px; }
.zoomOut:hover{background-position: -60px 1px;}
.zoomActual:hover {background-position:-28px 1px;}
.fit:hover{background-position: -90px 1px;}
.Print:hover {background-position: -120px 1px;}
.preview:hover{background-position: -150px  1px;}


.zoomIn{background-position: 0px 100%; }
.zoomOut{background-position: -60px 100%;}
.zoomActual {background-position: -30px 100%}
.fit{     background-position: -90px 100%;}


.fit{     background-position: -90px 100%;}




.cbrItmen.preview2{
    background-position: -600px 100%;
}

.cbrItmen.preview2:hover{
    background-position: -600px 1px;
}



.cbrItmen.create_new:hover{

    background-position: -540px 1px;
}

.cbrItmen.create_new{

    background-position: -570px 100%;
}




.Print { background-position:  -120px 100%;}
.preview{   background-position: -150px  100%;}
#div_serves{
    display: none
}



.showframe .data{



    background: white;
    border-radius: 5px;
    height: 98%;
    padding: 5px;
}
.comp_table{
    font-family: Arial;
    font-size: 8pt;

}.comp_table td{
    border: 1px #7a8a99 solid;
}

.comp_table th{


    background:    #1e1e1e;
    color:#fff;
    font-size: 9pt;

}



.frm_row table th{
    background: #333;
    color: #fff

}
.frm_row table,.table_p ,.table_p .frm_input {


    width: 100%;
}



.frm_row table td input{

    width: 90%;
}


.frm_row table._50 {


    width: 46%;
    float: left;


}
.show_d{



}

.show_d .data{

    background:    #fff;

}


.msg_all {

    background:    #1e1e1e;

    -moz-border-radius: 5px  5px   5px   5px ;
    border-radius: 5px  5px   5px   5px ;    

    padding: 25px  5px   5px   5px ;
    font-family: Arial;
    font-size: 8pt;

}

.msg_all .data{

    background:    #fff;
    -moz-border-radius: 5px  5px   5px   5px ;
    border-radius: 5px  5px   5px   5px ;

    padding: 5px;
}

.msg_all .forminput{
    border:1px #888 solid;
    margin: 1px;
    text-align: center;

}




.msg_all .metitle ,.msg_all .me_title{




    position: absolute;
    top: 3px;
    color: white;
    font-size: 9pt;
    font-weight: bold;
}

td.show_d_act ,
td.show_d_msg,.hostdialogue_show_bt,.nodeExtension_show_bt{
    background: url("images/proper_td_op.png");
    background-size: 100% 100%;
    -moz-border-radius: 15px  15px   15px   15px ;
    border-radius: 15px  15px   15px   15px ;
    color:#fff;
}


img{

    border: 0; 

}



/*.smv*/


.smv_top,
.smv_med,
.smv_bottom{
    width:100%;
    clear: both;

}


.smv_bottom{
    overflow: auto;

}
.Showchart{
    width: 22.1%;
    float: right;

    min-height: 50px;
    background: #DDDBDB;
    margin-right: 30px;
    margin-bottom: 5px;

}
.smv_med table{
    width:75%;
    float:left; 
    border: 1px #D9DADE solid;
}
.smv_bottom table{


}


.smv .bt{

    background: url("images/windows_bt_bg.png");
    padding: 3px;
    border: 2px black solid;
    border-radius: 5px;
    min-width: 70px;
    height: 23px;

    width:80px;
    float:left;
    margin: 2px


}
.myloading.small{
    background: url("images/loading_small.gif") repeat scroll -36px -33px transparent;

    float: right;
    height: 32px;
    position: relative;
    width: 32px;


}

.myloading.small.center{

    margin: auto;
    float: none;

}


.myloading.small img{
    display: none
}

.smv .select_ch,.smv .select_ch2,.Detailoding{
    float:left
}
.smv  select{
    min-width: 170px;
}

.smv table{
    overflow: hidden;

    background: transparent;


    border: 1px #D9DADE solid;

}


.smv  thead{
    height:50px;
    background: #dddbdb;
}
.smv  thead.htop{

    background: transparent;

}
.smv  thead.htop th{

    border:none
}

.smv th{

    font-size: 9pt;
    font-weight: bold;
    color:#343434;


    height: 50px;


}

.smv  th.heit{

    background: url("images/svmh.png");


}

.smv  th.heit.top{



    background: url("images/svmh.png") #fff;
    border-radius:  18px 18px 0px 0px ;


}

.hidden{
    display: none}


.smv td{



}/*.smv*/


ul.submenu {

    width:200px;

}
._75{
    width: 71%;
    float:left;

}
._50{
    width: 46%;
    float:left;

}
._100{
    width: 99%;
    clear: both;
}
.line,.lineBorder{
    height:25px;
}

.lineBorder{

    height:15px;

    border-bottom: 1px solid #333; 

    margin-bottom:10px 
}
.failedmsg ,.success{
    background: url("images/error.png") no-repeat;
    background-size: auto 100%;

    margin-left: 5px;
    height: 20px;
    line-height: 18px;
    padding-left: 22px;
}

.success{
    color: green;
    background: url("images/done.png") no-repeat;
    background-size: auto 100%;
    min-width: 50px;
    margin-top: 4px;
    height: 12px;
}


.inputmsg {
    float:left
}

.input{
    float:left
}
.failedmsg{
    color :red;
}
.fieldset{
    display: block;
    max-height: 210px;
    overflow: scroll;
    position: relative;
}

.fieldset table{
    display: block;
    max-height: 200px;
    overflow: auto;
    position: relative;
    width:100%
}.fieldset table td{

    border: 1px solid #eee;
}


table.table_viewparamters {
    display: block;
    height: 170px;
    max-height: 170px;
    overflow-y:  auto;
    overflow-x: hidden;
}







.view_imglobal{
    display: none;
}

ul{
    padding:0px;
    margin: 0px;
}








.xmessage .title{
    float: left;
    line-height: 36px;margin: 0 20px;
}
.xmessage .cbt{
    float:right;
    width:12px;
    height:36px; 
    background: url(images/message_cbt_bg.png) no-repeat ;
    margin-right: 5px;
    cursor: pointer;

} 
.xmessage .button{
    background: url(images/message_bt_bg.png) repeat-x ;
    height:28px;
    line-height: 25px;
    border: 1px solid #988f67;
    border-radius: 5px;
    cursor: pointer;

    margin-left: 10px;

}




.xmessage.info{

    background: url(images/message_bg_green.png) repeat-x ;
}

.xmessage.info .button{
    background: url(images/message_bt_bg_green.png) repeat-x ;
}

.xmessage.info .cbt{
    background: url(images/message_cbt_bg_green.png) no-repeat ;

}

.xmessage.err{

    background: url(images/message_bg_red.png) repeat-x ;
}

.xmessage.err .button{
    background: url(images/message_bt_bg_red.png) repeat-x ;
}

.xmessage.err .cbt{
    background: url(images/message_cbt_bg_red.png) no-repeat ;

}


.xmessagep .bg{
    background: rgba(0,0,0,0.3);
    position: fixed;
    top:0;bottom:0;left:0;right:0;
}

.ui-slider-handle.ui-state-default.ui-corner-all{
    cursor:     pointer
}
/*
 .texthcont{
     width: 100%; 
    


     height: 100px;
}
.texth.par{
    bottom: 0; 

    /* bottom: 10px; 
    /* height: 100%; 
}


.texth.par.opened{

    margin-top: 10px;

}
*/


.texth{
    width: 100%;
    text-align: center;

    /* bottom: -20px; */


    margin-top: 112px;
    font-size: 12px;
    /* position: relative; */
    /* top: -19px; */
    max-width: 150px;
    min-width: 50px;
    width: 100%;
    font-size: 11px;
    text-align: center;
    /* border: 1px solid; */
    left: 0px;
    font-family: verdana;
    font-weight: bold;
    /* margin-top: -20px; */
    /* margin-bottom: 23px; */
}


.texthin{
    width: 100%;
    text-align: center;

    /* bottom: -20px; */


    margin-top: 125px;
    width: 100%;

}

.hsize{
    height: 0px;
    width:100%

}

.texth.par{
    /* bottom: 0; */

    /* bottom: 10px; */
    /* height: 100%; */
    width: 150px;
    top: 0;
}


.texth.par.opened{

    margin-top: 10px;

}


.mxTooltip .texth.par.opened,.mxTooltip .texth{
    margin-top: 2px;


font-size: 18px}


.get_cu{
    margin-top: 30px;
}

.datacol {
    float: left;
    height: 100%;
    width:32%;
}
.datacol select{
    width:95%;
    height:90%;

}.datacol input{
    margin-top: 30%;
}

.scenarioImage {
    float: left;
    margin-left: 2px;
    margin-right: 2px;
    max-height: 24px;
    max-width: 22px;
}

.scenariolink{
    height:24px ;
    line-height: 24px;

}

.mydata .tabs{                  
    min-height: -6px;
    min-width: 37px;

}
.mydata .tabs{

    clear: both;


    float: left;

    margin-top: 10px;


    padding-bottom: 56px;


    position: relative;
}
.mydata .tabs li.act {
    background: none repeat scroll 0 0 #333333;
    color: #FFFFFF;

}

.mydata .tabs li.tabheader{
    border: 1px solid #333333;
    box-shadow: 1px -1px 5px #333333;
    cursor: pointer;
    float: left;
    font-size: 10pt;
    height: 16px;
    line-height: 16px;
    list-style: none outside none;
    margin: 2px;
    padding: 2px;
    text-align: center;
    min-width: 75px;
    margin-top: -8px !important;
}


.mydata .newtabs li {
    display: inline-block;


}
.mydata .newtabs {

    width: 100%;
}
.mydata .newtabs .tabbody {
    position: absolute;
    top: 30px;
    width: 100%;

}

.newAcdpOk,.newAcdpremove{
    float:right
}
.ACDpriority {
    display: table !important;
}
.ACDpriority tr.selected td{
    background: none repeat scroll 0 0 #1E1E1E;
    color: #FFFFFF;

}


.xactWindows .list_p .frm_input,.xactWindows  .list_p  .frm_label{

    clear: both; 


    width: 100%; 
}
.dataLabel_p .label{

    width:100%;
}
.xactWindows  select.list,.serComponent{
    min-height: 100px;
    clear: both;
    width:100%; 
}
.dataLabel_p .label{

    width:100%;
}


.xactWindows .list_p.normal .frm_input,.xactWindows  .list_p  .frm_label{

    clear: none; 



    float:left;


    width: 100%; 
}

.list_p.normal .frm_label {
    clear: none;
    width: 30%;
    float: left;
}

.dataLabel_p .label{

    width:100%;
}
