.qq-uploader { position:relative; width: 100%;}

.qq-upload-button {
    display:block; /* or inline-block */
    width: 105px; padding: 7px 0; text-align:center;    
    background:#333;
    border-bottom:1px solid #ddd;color:#fff;
}
.qq-upload-button-hover {background:#999;}
.qq-upload-button-focus {outline:1px dotted black;}

.qq-upload-drop-area {
    position:absolute; top:0; left:0; width:100%; height:100%; min-height: 70px; z-index:2;
    background:#999; text-align:center; 
}
.qq-upload-drop-area span {
    display:block; position:absolute; top: 50%; width:100%; margin-top:-8px; font-size:16px;
}
.qq-upload-drop-area-active {background:#007CBE;}

.qq-upload-list {margin:15px 35px; padding:0; list-style:disc;}
.qq-upload-list li { margin:0; padding:0; line-height:15px; font-size:12px;}
.qq-upload-file, .qq-upload-spinner, .qq-upload-size, .qq-upload-cancel, .qq-upload-failed-text {
    margin-right: 7px;
}

.qq-upload-file {}
.qq-upload-spinner {display:inline-block; background: url("loading.gif"); width:15px; height:15px; vertical-align:text-bottom;}
.qq-upload-size,.qq-upload-cancel {font-size:11px;}

.qq-upload-failed-text {display:none;}
.qq-upload-fail .qq-upload-failed-text {display:inline;}



.crop_tap,.data_tap{
    width:200px; 
    height:20px;
    background: #eee;
    position: absolute;
    top: -2px;
    z-index: 1000000;
    cursor: pointer;
    border: 1px #333 solid; 
    text-align: center;
}
.data_tap{
    left:215px;
}.data_div{
    display: none;
}



.allRow {
    margin: 2px;
}
.allRow .label{
    float:left;
    width:30%;
}

.allRow .editor  .label{
    float:left;
    width:10%;
}



.allRow .input{
    float:left;
    width:60%;
    margin-left: 0.5%

}

.allRow._50 {
    width:48%;
    float:left;
    overflow: hidden;
    height: 30px

} 

.allRow._100 {
    width:100%;
    clear: both;
    margin-top:10px;


    position: relative;
    padding-top:10px


} 
.steps{
    position: relative;
    width:100%;

}.step{
    position: absolute;
    width:100%;
    display: none
}
.step_0{
    display: block
}



.all{

    background: #1c1c1c;
    position: fixed;
    width: 100%;
    height:100%;
    top:0;
    left:0;
    overflow: hidden
}


.main{
    background: #999;
    position: fixed;
    width: 80%;
    height:85%;
    top:5%;
    right:0;
    /*overflow: auto;*/
    border-radius: 5px 
        ;
    padding :5px;
    /* margin-top: 20px;*/

}

.left .menu{
    margin-top: 5%;
    width:19%;
    float:left
}
.left .menu li{

    list-style: none;
    color: #595959;
    cursor: pointer
}

.left .menu li:hover{

    list-style: none;
    color: #FFF;
}



.left .menu li.act{

    list-style: none;
    color: #FFF;
}
.fotter{
    clear: both;

    position: fixed;
    width: 80%;
    height:8%;
    bottom:0px;
    right:0;

}

.docrop{
    display: none;
}

.update_img,#preview,  .update_img_1{

    display: none;
}

.tool_bar,.f_bar{
    width:20%;
    float:right;
    position: relative;
    background: #999;
    position: absolute;
    z-index: 10000000000000;
    right:0px;
    border: 3px #333 solid;
    padding:3px;
    top:10px;
}

.tool_bar{
    display: none;
}







.menu li .retp li{
    margin-left: 20px;
    font-size: 8pt;
    text-decoration: none;
}



#coords label{
    display: block;
    width:40%;

    float:left;
    margin:3px 

}#coords input{

    float:right
}


.menu li.act{
    color:#00A6C7;

}

.jcrop-holder{direction:ltr;text-align:left;}
.jcrop-vline,.jcrop-hline{background:#FFF url(Jcrop.gif) top left repeat;font-size:0;position:absolute;}
.jcrop-vline{height:100%;width:1px!important;}
.jcrop-hline{height:1px!important;width:100%;}
.jcrop-vline.right{right:0;}
.jcrop-hline.bottom{bottom:0;}
.jcrop-handle{background-color:#333;border:1px #eee solid;font-size:1px;}
.jcrop-tracker{-webkit-tap-highlight-color:transparent;-webkit-touch-callout:none;-webkit-user-select:none;height:100%;width:100%;}
.jcrop-handle.ord-n{left:50%;margin-left:-4px;margin-top:-4px;top:0;}
.jcrop-handle.ord-s{bottom:0;left:50%;margin-bottom:-4px;margin-left:-4px;}
.jcrop-handle.ord-e{margin-right:-4px;margin-top:-4px;right:0;top:50%;}
.jcrop-handle.ord-w{left:0;margin-left:-4px;margin-top:-4px;top:50%;}
.jcrop-handle.ord-nw{left:0;margin-left:-4px;margin-top:-4px;top:0;}
.jcrop-handle.ord-ne{margin-right:-4px;margin-top:-4px;right:0;top:0;}
.jcrop-handle.ord-se{bottom:0;margin-bottom:-4px;margin-right:-4px;right:0;}
.jcrop-handle.ord-sw{bottom:0;left:0;margin-bottom:-4px;margin-left:-4px;}
.jcrop-dragbar.ord-n,.jcrop-dragbar.ord-s{height:7px;width:100%;}
.jcrop-dragbar.ord-e,.jcrop-dragbar.ord-w{height:100%;width:7px;}
.jcrop-dragbar.ord-n{margin-top:-4px;}
.jcrop-dragbar.ord-s{bottom:0;margin-bottom:-4px;}
.jcrop-dragbar.ord-e{margin-right:-4px;right:0;}
.jcrop-dragbar.ord-w{margin-left:-4px;}
.jcrop-light .jcrop-vline,.jcrop-light .jcrop-hline{background:#FFF;filter:Alpha(opacity=70)!important;opacity:.70!important;}
.jcrop-light .jcrop-handle{-moz-border-radius:3px;-webkit-border-radius:3px;background-color:#000;border-color:#FFF;border-radius:3px;}
.jcrop-dark .jcrop-vline,.jcrop-dark .jcrop-hline{background:#000;filter:Alpha(opacity=70)!important;opacity:.7!important;}
.jcrop-dark .jcrop-handle{-moz-border-radius:3px;-webkit-border-radius:3px;background-color:#FFF;border-color:#000;border-radius:3px;}
.jcrop-holder img,img.jcrop-preview{max-width:none;}

.dropFile{
    margin-top:30px; 
}

.myptop{
    position: relative;
    z-index: 100000000000000;
}

.ShowTest{

    position: relative;

    margin: 30px;

    height:100%;
    width:80%;
    display: none;
}   
.end_step .crop_tap ,.end_step .data_tap {
    display: none;
}
.mytextarea{
    width:100%;

    height:540px
}
.crop_iframe {
    border: none;
    height: 60%;
    left: 20%;
    position: fixed;
    top: 10%;
    width:100%;
    display: none;
    height:540px
}

.qq-upload-failed-text{
    display: none;
}
#ch_Corporate_Logo{

    float: left;
    font-size: 6pt;
    margin-left: 120px;
    margin-top: -40px;   

}

.fiend ,.msg a{
    display: block;
    width:80%;
    float:left;
    margin: 5px 8% 5px;
    border:1px #999 solid;
    padding:5px;;
    text-align: center;
    background: #333;
    color: #eee;
    box-shadow: 5px 5px 5px #ffff;
    font-family: "arial";
    font-weight: bold;

    cursor: pointer;
    text-decoration: none;



}

*{

    font-family: "arial";
}
.retp li.myact{

    color:#fff;



}

.fbutton,.crop_tap,.data_tap,.button{

    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-image: url("images/windows_bt_bg.png");
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: 100% 100%;
    border: medium none;
    border-radius: 5px;
    color: #080808;
    cursor: pointer;
    height: 28px;   
    margin: 5px;
    text-align: center;
    width: 80px; 
    border: 1px solid #0077FF;
}
.crop_tap,.data_tap{
    margin-top:-2px; 
    width: 205px;
    background:#999;
    border-bottom: none; 
    border-radius: 5px 5px 0px 0px;

}

.crop_tap.act,.data_tap.act{
    background:#eee;
    margin-top:-1px; 



}
.tap_body{
    background:#eee;
    border: 1px solid #0077FF;
    height:500px;;
    margin-top: 25px;
    overflow: auto;


}
.button.edit_img{
    width:170px
}

.menu li{

    font-weight: bold;
    list-style: disc;
    font-size: 12px;
    border-left: 1px solid #595959;
    margin: 2px;
    padding: 2px;
}
.menu li.act{


    border-left: 2px solid #eee;

}

.me_More{
    float:right
}

.fiend:hover{
    background: #111    ;
}