/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 24, 2014, 10:49:19 PM
    Author     : empcl_000
*/
@font-face
{
    font-family: GE_SS_Two_Bold;
    src: url(fontes/GE_SS_Two_Bold.otf);
}

@font-face
{
    font-family: GE_SS_Two_Medium;
    src: url(fontes/GE_SS_Two_Medium.otf);
}


@font-face
{
    font-family: GE_SS_Two_ligher;
    src: url(fontes/GE_SS_Two_ligher.otf);
}


a{
    
    
    color:#181818;
    text-decoration: none
}

li{
    list-style: none;
}

*{
    margin: 0px;
    padding: 0px;

}
a{
    direction: rtl
}
.toleft {
    float:left;
}
.toright{
    float:right
}
body {


    background: url("images/html_bg.png") repeat-x scroll 0 50px  ,url("images/html_bg_2.png"); 
    width: 100%;
    overflow-x: hidden;
    font-family: "tahoma";
    font-size: 15px;
    
}

h1 ,.h1,h2 ,.h2,h3 ,.h3,h4 ,.h4,h5 ,.h5,h6 ,.h6{

    color:#232323
}
h1 ,.h1,h2 ,.h2{

    font-family: GE_SS_Two_Bold !important;  
}
h3 ,.h3,h4 ,.h4,.info{

    font-family: GE_SS_Two_Medium ;
}
h5 ,.h5,h6 ,.h6{

    font-family: GE_SS_Two_ligher !important;
}

h1 ,.h1{
    font-weight: normal;
    font-size: 30px;

}
h2 ,.h2{

    font-weight: normal;
    font-size: 22px;
}
h3 ,.h3{
    font-weight: normal;
    font-size: 18px;

}
h4 ,.h4,.info{

    font-weight: normal;
    font-size: 16px;
}
h5 ,.h5{
    font-weight: normal;
    font-size: 14px;
}

h6 ,.h6{
    font-weight: normal;
    font-size: 12px;

}

.tb,.bb,.rb,.lb{

    border-color: #dcdcdc; 
    border-style: solid;
    border-width: 0px ;
    margin-top: 10px;
}

.tb{
    border-top-width: 1px ;
}
.bb{
    border-bottom-width: 1px ; 

}
.rb{
    border-right-width: 1px ; 
}
.lb{

    border-left-width: 1px ;  
}
.nb{
    border:none
}

.red{
    color:#da2f11 !important;;  
}


.blue{
    color:#1d324f !important;;  
}

.white{
    color:#fff !important;;
    text-shadow: 1px 1px 1px #000 !important;;
}

.gray{
    color:#6d6d6d !important;;
}

.bgred{
    background-color:#da2f11 !important;;  
}


.bgblue{
    background-color:#1d324f !important;;  
}

.bgwhite{
    background-color:#fff;


}
.toleft{
    float: left;
}

.toright{
    float: right;
}

.tortl{

    direction: rtl
}

.toltr{

    direction: ltr
}

.toclear{


    clear: both  !important;;
    width:100%  !important;;
    margin-bottom: 10px;

}





.bggray{

    background-color:#6d6d6d !important;;

}


.circle{
    border-radius:  50% !important;;

    height:100%;
    width:100%;
    background-color: #fff 
}


.blur:hover{

    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
}











ul.normal li {
    background:  url(images/list_bg.png) no-repeat top right;
    text-align: right;
    direction: rtl;
    padding-right: 28px;
    background-position: 99% 8px;
}



ul.arrows li {
    background-image: url(images/icon-arrow-left.png);

}











.shadow{

    text-shadow: 1px 1px 1px #000;
}



.boxshadow{

    box-shadow: 1px 1px  3px #333;
}





.info {
    border: 2px solid #dcdcdc;
    border-radius: 0px;
    line-height: 60px;
    padding-right: 6%;
    background: #fff url("images/iicone.png") no-repeat right center;
    width: 94% !important;
    background-position: 99% center;
    min-height: 0px;
    text-align: right;
    background-size: 40px;    color:#6d6d6d;
    height:auto !important;;
    margin-bottom: 20px;
}

.info.success{
    background-image:  url("images/successicon.png"); 
}


.info.error{
    background-image:  url("images/iiconred.png"); 
    color:#da2f11 
}





.info.hand{
    background-image:  url("images/hand.png"); 
    line-height: 33px;
}




label {
    color: #828282;
    float: right;
    min-width: 150px;
    line-height: 40px;
    font-family: GE_SS_Two_ligher !important;


    font-size: 20px;
}

.check label,.radio  label {

    font-size: 16px;
    margin-top: 3px;
}
.radio  label {


    margin-top: 0px;
}




input,select,textarea{
    /*  box-shadow: 1px 1px 5px #CCCCCC;*/
    box-shadow: 0px 0px 2px 0px #dbdac0;


    padding: 5px;

}
input[type="number"],
div.form_row input[type="text"],
div.form_row input[type="email"] ,
div.form_row input[type="password"]   ,
div.form_row  select,input[type="text"]{
    height: 35px;
    border: none;
    width:298px;
    font-family: "tahoma"

}

input[type="number"]{

    width:auto;

}






.required .field-label span ,.space{

    color: red;
    position: absolute;
    margin-top: 8px;
    margin-right: -12px;
}







input[type="button"]
, input[type="button"]
, input[type="submit"]
,.button

{
    color:#fff;
    background: #1d3a5c;
    border: 1px solid #2c4766;
    padding: 5px 25px;min-width: 120px;
    text-align: center;
    cursor: pointer;

}


input[type="button"]:hover
, input[type="button"]:hover
, input[type="submit"]:hover
,.button:hover{
    border: 1px solid #f57464;

    background: #ed0000
}
#cboxLoadedContent{
    border-color: #f2f2f2 !important;  

}


#cboxClose{
    background-image: url("images/close_bt.png") !important;  width: 47px;
    height: 57px;
}#cboxLoadedContent {

    background: #f2f2f2;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */
.hidden{
    display: none
}


/* Z-INDEX */
.formError { z-index: 990; }
.formError .formErrorContent { z-index: 991; }
.formError .formErrorArrow { z-index: 996; }

.formErrorInsideDialog.formError { z-index: 5000; }
.formErrorInsideDialog.formError .formErrorContent { z-index: 5001; }
.formErrorInsideDialog.formError .formErrorArrow { z-index: 5006; }




.inputContainer {
    position: relative;
    float: left;
}

.formError {
    position: absolute;
    top: 300px;
    left: 300px;
    display: block;
    cursor: pointer;direction: ltr;
}

.ajaxSubmit {
    padding: 20px;
    background: #55ea55;
    border: 1px solid #999;
    display: none
}

.formError .formErrorContent {
    width: 100%;
    background: #ee0101;
    position:relative;
    color: #fff;
    width: 150px;
    font-size: 11px;
    border: 2px solid #ddd;
    box-shadow: 0 0 6px #000;
    -moz-box-shadow: 0 0 6px #000;
    -webkit-box-shadow: 0 0 6px #000;
    padding: 4px 10px 4px 10px;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}

.greenPopup .formErrorContent {
    background: #33be40;
}

.blackPopup .formErrorContent {
    background: #393939;
    color: #FFF;
}

.formError .formErrorArrow {
    width: 15px;
    margin: -2px 0 0 13px;
    position:relative;
}
body[dir='rtl'] .formError .formErrorArrow,
body.rtl .formError .formErrorArrow {
    margin: -2px 13px 0 0;
}

.formError .formErrorArrowBottom {
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    margin: 0px 0 0 12px;
    top:2px;
}

.formError .formErrorArrow div {
    border-left: 2px solid #ddd;
    border-right: 2px solid #ddd;
    box-shadow: 0 2px 3px #444;
    -moz-box-shadow: 0 2px 3px #444;
    -webkit-box-shadow: 0 2px 3px #444;
    font-size: 0px;
    height: 1px;
    background: #ee0101;
    margin: 0 auto;
    line-height: 0;
    font-size: 0;
    display: block;
}

.formError .formErrorArrowBottom div {
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.greenPopup .formErrorArrow div {
    background: #33be40;
}

.blackPopup .formErrorArrow div {
    background: #393939;
    color: #FFF;
}

.formError .formErrorArrow .line10 {
    width: 15px;
    border: none;
}

.formError .formErrorArrow .line9 {
    width: 13px;
    border: none;
}

.formError .formErrorArrow .line8 {
    width: 11px;
}

.formError .formErrorArrow .line7 {
    width: 9px;
}

.formError .formErrorArrow .line6 {
    width: 7px;
}

.formError .formErrorArrow .line5 {
    width: 5px;
}

.formError .formErrorArrow .line4 {
    width: 3px;
}

.formError .formErrorArrow .line3 {
    width: 1px;
    border-left: 2px solid #ddd;
    border-right: 2px solid #ddd;
    border-bottom: 0 solid #ddd;
}

.formError .formErrorArrow .line2 {
    width: 3px;
    border: none;
    background: #ddd;
}

.formError .formErrorArrow .line1 {
    width: 1px;
    border: none;
    background: #ddd;
}





.required_asterisk{
    color: red;
    top: -12px;
    /* position: absolute; */
    /* display: inline-block; */
    position: relative;
    right: -1px;
}
