/* 
    Document   : style
    Created on : Jan 13, 2013, 5:29:08 PM
    Author     : ismeil
    Description:
        Purpose of the stylesheet follows.
*/

a:hover, a:active, a:focus{

}

a{

    font-weight: bold 
}


* {
  
}





a{
    text-decoration: none;
}



.mod_title{
    font-size: 120%;
    color:red

}
li,ul{
    list-style: none
}
body{
    width:1000px;
    margin: auto;
    color: #666;
    font-family: Arial, Helvetica, sans-serif;
}






header{
    margin-top: 0px;

    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;

    height: 40px;
    overflow: hidden;
    z-index: 100;
    border-bottom: 1px solid #eaeaea;

}
.logo{
    width:200px;
    max-width: 90%;
    height: auto;

}
.slideshow,.top,.Bread_Crumb{
    width:770px;
    max-width: 90%;
    height: auto;







}

.logo img{
    width: 100px;
    max-width: 100%;
    margin-top: -20px;


}

.search{
    width:200px;
    max-width: 90%;

}
footer,.dark,header,.tabs li,.tabTitle,
div.theme-default div.nivo-controlnav a.nivo-control ,.mod_image img,.multiple_slides_visible div.slide_inner
{
    background:#dcdcdc;
}


.tabs li.act,.tabTitle.act,.hits{
    background: #666;  
    color:#000;
}
.my_menu_itm {
  



    position: relative;
    bottom: -1px;
    display: block;
    _display: inline-block;

    border-bottom: 0 solid #FFF;
    font-weight: bold;
  


}
.menu{
}
.light{
    background: #ccc;
}




.toleft{

    float:left;
}
.toright{
    float:right;
}

.tocenter{

    margin:auto
}
.toclear{
    clear: both;
}
.toclear_right{
    clear: right;
}
.toclear_left{
    clear: both;
}
._100{
    width:100%;

}
._50{
    width:48%;

    float:left;
    margin: 1%;

}
._30{
    width:30%;
    float:left;
    margin: 1%;

}
._25{
    width:22%;

    float:left;
    margin: 1%;

}

.data label{
    min-width: 100px;
    display: block;
    float: left;
    
}

/**{
    max-width:100%;
}*/

.mainData {
    margin-top:45px; 
}
.right{
    width:220px;
    float:right;
    max-width:90%;
   
}





.main{

    float:left;
    width: 770px;
    max-width: 90%;
}


/*------------------------------------------------------------------------*/

.menu{

    margin-top: -15px;
}
.menu_itm {
    float:left;
    border-left:1px solid #CCC;

    margin-top: -1px;
    height:40px;
}

/*------------------------------------------------------------------------*/



/*------------------------------------------------------------------------*/

.allCatBlocks,.allItemsBlock{
    width: 100%;
    clear: both;

}
.itemBlock,.CatBlock{
    background: #fafafa;

    border: 1px #999 solid;
    float: left;
    position: relative;
    width: 90%;
    margin: 2px;

    border-right: none;
    border-left: none;
}


.itemBlock{
    width: 380px;
    background: #eee;

}
.CatBlock{
    width: 200px;
    border: 4px solid #e5e5e5;

    overflow: hidden
}
.itemBlock_imgae_cont,.catBlock_image{
    height: 150px; 
    width:180px;
    border: 1px solid #CFCFCF;
    margin:0px 18px 0 0;
    display: block;
    float: left;
    position: relative;
    overflow: hidden
}




.itemBlock_imgae,.CatBlock_imgae,.catBlock_image img{


    margin: auto;
    display: block;

    max-height: 150px; 
    max-width:180px;


}
.CatBlock_imgae{
    margin: 6px;
}

.itemBlock_imgae{
    width:150px;
}


.itemBlock_title,.CatBlock_title,.catBlock_title{

    font-weight: bold;
    color: #222;
    line-height: 30px;
    margin-bottom: 8px;

    font-size: 100%;
    line-height: 1.5em;
}

.pagesBar {
    clear: both
}
.pagesBar a{
    margin: 2px;
    display:  block;
    float:left

}
.block_main{
    width: 100%;
    max-width: 100%;
    overflow: hidden;

    background: #999;

}
/*------------------------------------------------------------------------*/



.tabBodys{
    margin-top: -2px;
    border: 1px solid #CFCFCF;
    min-height: 200px;
    overflow: auto;
    width: 99%
}

.tabs li,.tabTitle{

    float:left;

    margin: 2px;
    padding: 2px;
    cursor: pointer;
}

.tabsbody{

    border: 1px #666 solid;
    clear: both;
}.tabs li.act,.tabTitle.act{


    color:#fff   
}




div.nivo-controlNav img, #nslidert .nivo-controlNav img {
    display: inline;
    position: relative;
    margin-top: 6px !important;
    margin-left: 7px !important;
    float:left;
    width: 110px;
    height: 65px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}


div.theme-default div.nivo-controlnav a.nivo-control {
    cursor: pointer;

    width: 122px;
    height: 82px;
    display: inline-block;
    margin: 0px !important;
}


.mod_search {
    margin-top:8px;
}

.mod_search_input input {

    float:left
}




.mod_image img{
    max-width: 99%;
    padding:2px;
    background: #eee;
    width: 144px;
    position: relative;
    float:left;
    margin: 5px;

}
.mod_block{
    border-top: 1px solid #efefef;
    margin:5px 0px 5px 0px; 
    clear: both;
    padding:5px;
}

.modig_blocTitle a{
    /* font-size: 16px;*/

}.modig_blocTitle{

}

.hits{
    width:20%;
    float:right
}
.hits .label,.hits div{
    float:right;
    margin: 1px;
}footer{
    width:100%;
    height:40px;

}.Bread_Crumb{
    margin: 2px;

}
.Bread_Crumb .item{
    float:left;
    margin: 5px;
    border-left:2px #666 solid ;
    padding-left: 5px;
}


    .list_carousel ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: block;
    }
    .list_carousel li {


        text-align: center;

        border: 1px solid #999;




        margin: 6px;
        display: block;
        float: left;
        overflow: hidden;
    }
    .list_carousel.responsive {
        width: auto;
        margin-left: 0;
    }
    .clearfix {
        float: none;
        clear: both;
        min-height: 1px;
    }
    .prev {
        float: left;
        margin-left: 10px;
    }
    .next {
        float: right;
        margin-right: 10px;
    }
    .pager {
        float: left;
        width: 300px;
        text-align: center;
    }
    .pager a {
        margin: 0 5px;
        text-decoration: none;
    }
    .pager a.selected {
        text-decoration: underline;
    }
    .timer1 {
        background-color: #999;
        height: 6px;
        width: 0px;
    }
    
.space
{
    color: red;
    margin-left: 4px;
}

input.required-empty,input[type="text"].required-empty, input[type="input"].required-empty


{
    border-color:#FF4200;
    color:#FF4200;
}
input.required-valid,input[type="text"].required-valid, input[type="input"].required-valid


{
    border-color:#FF4200;

}


#time_count .field-label ,#time_count .field-input ,#date_count .field-input,#date_count .field-label{
    
    
    clear: both;
}

.add-more-title  {
    font-size: 18px;
    padding: 5px;
}