/* 
    Document   : small
    Created on : May 7, 2013, 3:30:31 PM
    Author     : ismil
    Description:
        Purpose of the stylesheet follows.
*/



    
.main_top_right .mod {

    width:48%;
    margin-left: 1%;
    padding:0px
}
