


@font-face
{
    font-family: Oswald-Bold;
    src: url(fontes/Oswald-Bold.ttf);
}

@font-face
{
    font-family:Oswald-Light;
    src: url(fontes/Oswald-Light.ttf);
}


@font-face
{
    font-family: Oswald;
    src: url(fontes/Oswald-Regular.ttf);
}



/*----------------------------------------------*/

*{
    margin: 0px;
    padding: 0px;
}
html{
    background: #d7d9db;
}
body{
    width:100%;

    font-family: "Myriad Pro";


    color: #959B8F;
    font-family: 'Open Sans',Arial, Helvetica, sans-serif;
    line-height: 20px;
    font-size: 14px;
    margin: 0px;
    padding: 0px;
    background-image: url("imgs/top-line.png");
    background-repeat: repeat-x;
    background-position: center top;
    background-color: #F0F0F0;
}



footer{
    background-image: url("imgs/Brush-effect.png");
    background-repeat: repeat-x;
    background-position: center top;
    background-color: #fff;
    clear: both;
    overflow: hidden;
    min-height: 250px;


}

a, a:visited, a b {
    color: #959B8F;
    text-decoration: none;
    cursor: pointer;
}
input, button, select, textarea {
    margin: 0;
    vertical-align: middle;
    z-index: 0;
    position: relative;
}

input.button {
    margin: 0;
    border: 0;
    height: 28px;
    padding: 0px 12px 0px 12px;
    font-family: 'Open Sans',Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}


a.button, input.button {
    cursor: pointer;
    color: #FFFFFF;
    background: #B4D2D0;
    -webkit-border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -khtml-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
}




.block *,.langBar *{
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}



.footer-inner,
.section-inner,
.header-inner
{
    width: 980px;

    margin: auto;
}

.pag-content{

    background-image: url("imgs/footer-line.png");
    background-position: center bottom;
    background-repeat: repeat-x;
    padding-bottom: 10px;
    overflow: hidden;
}



.a-light,.light{

    margin: 0px 0px 15px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.18);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -khtml-border-radius: 8px;
    border-radius: 8px;
    padding: 15px 20px 30px;
    background: #fff;
}
.menu_itm{
    float: left;  margin-left: 10px;
    background: none !important;
    position: relative;
    height:60px;
}

.my_menu_itm{
    display: block;
    padding: 20px 10px;
    margin-bottom: 0px;
    z-index: 6;
    position: relative;
    font-family: Cabin,Arial,Helvetica,sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    color: #959B8F;
    padding: 21px 0 20px 0px;


}
.menu_itm img{
    background-image: url("imgs/megnor/sprite.png");
    background-repeat: no-repeat;
    background-position: 13px -695px;
    background-color: #959B8F;
    -webkit-border-radius: 25px 25px 25px 25px;
    -moz-border-radius: 25px 25px 25px 25px;
    -khtml-border-radius: 25px 25px 25px 25px;
    border-radius: 50%;
    float: left;
    margin-top: -11px;
    height: 37px;
    width: 37px;
    display: block;
    margin-right: 10px;

}
.submenu{
    position: absolute


        ;background: #fff;
    top: 50px;
    left: 0;
    z-index: 5;
    padding: 7px 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #959B8F;
}

.submenu li{

    list-style: none;
    position: relative;
    clear: both;
    width:100%;
}
.submenu li img{
    display: none;
}

.submenu li a{
    padding: 4px 6px;
    color: #959B8F;
    display: block;
    white-space: nowrap;
}


.menudata{
    position: relative;
    z-index: 10
}

a.sub_mune_itme:hover {
    background: #959B8F;
    color: #fff;
}

.slideShow .pdata{

    background: none repeat scroll 0 0 #F8F7EE;
    padding: 12px 2px 10px 12px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    overflow: hidden;
}
.slideShow .slideShowData{
    position: relative;
    margin: 0 10px 0px 0;
    overflow: hidden;
    float: left;
    width: 650px;-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    overflow: hidden;
}

.nivo-caption{
    width:0.1px
        ;
    overflow: hidden;width: 0.1px;
    overflow: hidden;
    height: 0.1px;
    opacity: 0;
}

.theme-default .nivo-controlNav a {
    background: none repeat scroll 0 0 #fff;
    border-radius: 10px;
    cursor: pointer;
    height: 15px;
    text-indent: -9999px;
    width: 15px;
}
.theme-default .nivo-controlNav a.active {
    background: none repeat scroll 0 0 #CADD7B;
    cursor: default;
}

.theme-default .nivo-controlNav {
    text-align: center;
    padding: 5px 0;
    float: right;
    margin-top: -57px;
    position: relative;
    margin-right: 94px;
    z-index: 11;}
footer .mod{
    float:left;
    width:23%;
    margin-top: 51px;
}


footer .menu_itm {
    border-bottom: 1px dotted #DDDDDC;
    height:30px;
    line-height: 30px;
    clear: both;
    width:100%;}



footer .my_menu_itm {
    height:30px;
    line-height: 30px;
    padding: 5px 0;


}

.slide_inner ,.block{
    margin: 5px;
    background: #fff;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    overflow: hidden;
    float:left;height: 288px;width: 23%;
}

._290 .slide_inner  .conimg,.block img {
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    margin: 5px auto;
    box-shadow: 0 0 6px rgba(113, 113, 113, 0.2);
    width:195px;
    height:195px;
}
.title {
    text-align: center;
}

._291  img{
    background: url(imgs/logo-3-137x77.png) center no-repeat;
    height:77px;    border: none;

}

._291     
.list_carousel li  , ._291 .slide_inner{
    width: 158px;
    height: 82px;}
._291 .slide_inner{
    width:  137px;
}



._291  .conimg{
    height:77px;
    border: none;
}

._291  .caption,._291  .dec{
    display:    none

}

.sliderprev{
    background-image: url("imgs/sprite.png");
    background-repeat: no-repeat;
    background-position: 10px -490px;
    left: -39px;
}
.slidernext{
    background-image: url("imgs/sprite.png");
    background-repeat: no-repeat;
    background-position: -41px -490px;
    right: -40px;
}

.sliderbtsbar a {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    display: block !important;
    float: right;
    height: 87px;
    position: absolute;
    top: 80px;
    width: 39px;
    z-index: 1;font-size: 0;
    content: " "
}
.mod{
    position: relative
}
._290
.slide_inner {
    //height: 260px;
}
.caption{
    text-align: center;
}
.link.more{
    margin: auto;
    display: block;
    margin: auto;
    display: block;
    width: auto;
    max-width: 50px;
}

._290 .dec{
    display: none;
}


._290 .caption{
    height:30px;
    line-height:30px;
    width:100%;
    overflow: hidden;

}




.theme-default .nivo-directionNav a {
    display: block;
    width: 30px;
    height: 44px;background-image: url("imgs/sprite.png");
    text-indent: -9999px;
    border: 0;
    opacity: 0;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;background-repeat: no-repeat;

}

.theme-default a.nivo-nextNav {
    background-position: -31px -390px;
    right: -8px;
}

.theme-default a.nivo-prevNav {
    background-position: -3px -390px;
    left: -1px;}




._291  .sliderprev,._291  .slidernext{
    height: 20px;
    top: 48px;
    width: 20px;
    z-index: 999;
    cursor: pointer;
}

._291  .sliderprev{
    background-position: -9px -84px;

    left: 5px;
}
._291  .slidernext{
    background-position: -39px -84px;    right: 5px;
}


.main_top img{
    position: absolute;
    top: 0;
    z-index: 0;
    right: 0;
    height: 100%;}



h3.green {
    text-transform: uppercase;
    font-size: 18px;
    color: #fff;
    background: #B4D2D0;
    margin: 0;
    padding: 5px;
    position: relative;
    z-index: 2;left: -20px;
}

.main_top .mod{
    float:right;
    width: 45%;    overflow: hidden

}


.main_top .mod:nth-child(odd){
    float:left;
}