#dta_x{
    margin-top: -14px;
    margin-left: 13px;
}
.me_submit{
    
     margin-top: 15px;
}

#username, #password {
    
    width:150px;
    background: url("images/login_input_bg_ie8.png") no-repeat;
  
     padding-right:3px;

    
/*
-ms-filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/login_input_bg.png', sizingMethod='scale')";
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/login_input_bg.png', sizingMethod='scale');*/
}