


html {
    background: url("images/me_bg.png");


    overflow: hidden;
    margin: 0pX;
    padding: 0px;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;

    font-family:"verdana";
    background-size:auto 100%;


}

.mycontlogin.left{
    padding:2px;

    overflow: hidden;
    position: absolute;
    top:25%;
    left:28%;

    padding:30px;
    height: 350px;
    width: 529px;
    background: url("images/login_bg.png");

    background-size:100% 100%;
}



.loginTile{
    width:100px;
    height:30px;
    background: url("images/userLogin_title.png");
    margin-left: 10px;

    background-size:100% 100%;
}

#login .form_row lable,lable ,.myLabel{

    font-size: 14px;
    font-weight: bold;
    margin-left: 19px;
    text-shadow: 1px 1px 1px #999999;


}

.line{
    width:100%;
    clear: both;
    box-shadow: 1px 1px 1px #999999;
}

#username,#password ,input[type='text'],input[type='password']{

    width: 154px;
    height:19px;
    border: none;
    background: url("images/login_input_bg.png") no-repeat;
    background-size:100% 100%;
    padding:9px 8px 8px;;
    margin-left:9px;
    
    text-transform: none;
}


.logindes{

    width:500px;
    height:228px;
    background: url("images/lgoin_dis.png") no-repeat;

    background-size:100% 100%;
    margin-left: 10px;

}


.me_submit{


    width:77px;
    height:41px;
    background: url("images/login_bt_bg.png");
    margin-left: 10px;

    border: none;

    cursor: pointer; 
    margin-top: -2px;

}
.me_submit:hover{

    background-position: 100% 100%;


}
.light_bg{
    background-color: #CBDDF3;
    background-image: -moz-linear-gradient(center top , #DAE7F6, #CDDEF3 45%, #ABC7EC 46%, #ABC7EC 50%, #B8CFEE 51%, #CBDDF3);
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #DAE7F6), color-stop(45%, #CDDEF3), color-stop(46%, #ABC7EC), color-stop(50%, #ABC7EC), color-stop(51%, #B8CFEE), color-stop(100%, #CBDDF3));
    background-image: linear-gradient(top, #DAE7F6,#CDDEF3 45%,#ABC7EC 46%,#ABC7EC 50%,#B8CFEE 51%,#CBDDF3);
}
.dark_bg{
    background-color: #CBDAEF;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #DDE7F5), color-stop(100%, #CBDAEF));
    background-image: -moz-linear-gradient(top, #DDE7F5,#CBDAEF);
    background-image: linear-gradient(top, #DDE7F5,#CBDAEF);
}

.button.act{
    background-color: #DEECFD;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, white), color-stop(25%, #F5F9FE), color-stop(45%, #DEECFD));
    background-image: -moz-linear-gradient(top, white,#F5F9FE 25%,#DEECFD 45%);
    background-image: linear-gradient(top, white,#F5F9FE 25%,#DEECFD 45%);

}
.button{

    background-color: #DEECFD;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #CCDEF6), color-stop(25%, #D6E6FA), color-stop(45%, #DEECFD));
    background-image: -moz-linear-gradient(top, #CCDEF6,#D6E6FA 25%,#DEECFD 45%);
    background-image: linear-gradient(top, #CCDEF6,#D6E6FA 25%,#DEECFD 45%);


}


.button{

    background: url("images/xact_bt.png");

    border: none;
    width:80px;
    height:38px;
    color:#fff;
    background-size: 100% 100%;

    text-align: center;
    float:left;
    margin-left:10px;
    cursor: pointer;

}
.button:hover{

    background: url("images/xact_bt_hover.png");

    color:#eee;

    background-size: 100% 100%;



}



.footer ,  .right, .workarea, .main ,.left ,.menu{
    margin: 0px;
    padding: 0px
}
html{
    overflow: hidden;
}
.left{

}
.menu ,.tabs{

    height:20px;
    width:100%;
    border:1px #99BBE8 solid;
}


.menu li:hover,.menu li.act ,.tabs li:hover ,.tabs li.act  {
    height:18px;

}




.menu li ,.tabs li{
    cursor: pointer;
    list-style: none;
    float:left;
    margin-left:2px;
    width:150px;

    text-align: center;
    margin-top:-13px;
    border:1px #8DB2E3 solid;
    border-bottom:none;
    color: #416AA3;
    font-family: helvetica,tahoma,verdana,sans-serif;
    font-size: 13px;
    font-weight: bold

}

.label {
    width:99%;
    border-color: #99BBE8;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 0 #F4F8FD inset;
    font-size: 11px;
    line-height: 15px;
    margin: auto;;
    height:22px



}



.form{
    width:200px;
    position: absolute;
    height:200px;
    z-index: 10;

}
.tabs_divs{
    width:100%;
    clear:both;
    position: relative


}
.tabs_divs .tabbody{
    position: absolute
        ;
}
.boxdha{



    /* box-shadow:1px 1px 2px #eee;
 -webkit-box-shadow:1px 1px 2px #eee;
 -moz-box-shadow: 5px 5px 5px #ccc;*/
}


.lodyiong{
    position: absolute;
    right:0px;
    top:0px;
    left:0px;
    bottom: 0px;
    background: rgba(0,0,0,0.5) url("images/loading.gif") center  no-repeat;
    z-index: 10000000000;
    
    
}

.form_headr {



}




.form_headr{



    border-radius: 4px 4px 0 0;
    border-style: solid;
    border-width: 1px;
    height:22px;
    border-color: #99BBE8;;
    width:200px;
    cursor: move;
    color: #04468C;
    font-family: tahoma,arial,verdana,sans-serif;
    font-size: 10pt;
    font-weight: bold;

    line-height: 22px;  
}
.form_body
{
    width:200px;

    height:180px;
    border:1px #99BBE8 solid;
    overflow: hidden;


}
.tools_bt.form_close{  
    background-position: 0 0px;
    float:right;
    margin: 4px 2px  0px;

}
.tools_bt.form_min{
    background-position: 0 -210px;
    float:right;
    margin: 4px 2px  0px; 

}
.main{
    width:80%;
    position: absolute;
    top:50px;
    bottom:20px;
    right:20px;
    background-color: #fff;
    margin-top:10px;
    border:1px #99BBE8 solid;
    float:right;
    overflow: hidden

}

.all_footer{


}
.left{
    width:17%;
    position: absolute;
    top:50px;
    bottom:20px;
    left:10px;
    background-color: #fff;
    margin-top:10px;
    border:1px #99BBE8 solid;
    float:right;

}

.tools_bt{

    background-color: transparent;
    background-image: url("images/tool-sprites.gif");
    background-repeat: no-repeat;
    cursor: pointer;
    height: 15px;
    margin: 0;
    overflow: hidden;
    width: 15px;

}
.close_left {


    background-position: 0 -180px;
    float: right;
    margin:3px;

}


.left_top ,.left_bottom{
    height:150px
}


.left_top_label ,.left_bottom_label{

    border-top-color: #F3F7FB !important;
    background: none repeat scroll 0 0 #D9E7F8 !important;
    box-shadow: 0 0 0 0 #D9E7F8 inset;



} 
.left_top_label .close_left,.left_bottom_label .close_left{

    background-position: 0 -15px; 
}
.footer1 ,.footer2, .footer3 ,.right_panel,left_panle,.top_panle,.footer_panel,.left_panel{
    width:58%;
    height:100px;
    position: absolute;
    border:1px #99BBE8 solid;
    bottom:0px;
    overflow: hidden;
    right:0px;
}




.right,.min_left{
    position: absolute;
    right:0px;
    width:200px;
}
.right_panel ,.left_panel{
    width:200px;
    top:100px;
}

.right_panel .close_right ,.left_panel .close_min_left {
    background-position: 0 -165px;   
    margin-top:3px   
}
.left_panel .close_min_left{
    float:right;
    margin-right:3px  ;   background-position: 0 -180px;   
}

.min_left{
    right:auto;
    left:0px;

}
.left_panel{
    right:auto;
    left:0px;
    width:100px;
    height:200px;
}

.top{

    top:0px;

    bottom:auto
}

.top_panle{

    top:22px;
    bottom:auto 
}
.top .label_top {
    top:auto;
    bottom: 0px;
    position: absolute;
    width: 100%;
}
.top_panle .close_top{
    background-position: 0 -210px;   
    margin-top:3px;
    float:right;

}



.footer2{
    width:20%;
    left: 0%
}

.footer3{
    width:20%;
    left: 21%

}


.footer1 .label , .footer2 .label, .footer3 .label{
    width:100%;
    margin:0px;




}

.close_footer{
    float:right;
    background-position: 0 -195px;
    margin:3px;
}
.label{

    color: #04468C;
    font-family: tahoma,arial,verdana,sans-serif;
    font-size: 11px;
    font-weight: bold;
    line-height: 22px;
}

.label_title{
    width:60%;
    float:left
}
.tools_bt{
    position:absolute;
    right:0px;}

.label_right .tools_bt{
    left:0px;
    right: auto

}
.label_right .label_title{
    width:60%;
    float:right;
    text-align: right
}

.label_top .tools_bt{
    left:auto;
    right: auto
        ;
    bottom:0px;
    right:0px;

}.tools_bt{
    margin:3px;
}    
.left_bottom{

    border: 1px solid #99BBE8;  

}
.tools_bt{
    top:0px;
}
.left_bottom   {
    position: relative;
    overflow: hidden
}

a{
    text-decoration: none;
    color: #04468C;
}.tabbody {

    background: #fff;
    overflow: hidden;
}

.pgbody{
    position: relative

}



.failedmsg ,.success{
    background: url("images/error.png") no-repeat;
    background-size: auto 100%;

    margin-left: 5px;
    height: 20px;
    line-height: 18px;
    padding-left: 22px;
}

.success{
    color: green;
    background: url("images/done.png") no-repeat;
    background-size: auto 100%;
    min-width: 50px;
    margin-top: 4px;
    height: 12px;
}


.savePassrep{

    width:142px;
    height:41px;  background: url("images/xact_home_chanePass.png") no-repeat;

    border:none;
    cursor: pointer;
    color:transparent
}
.savePassrep:hover{


    height:41px; 
    background: url("images/xact_home_chanePass-hover.png") no-repeat;


}

.close_bt{
    position: absolute;
    right: 13.5%;
    top: 10.5%;
    width:32px;
    height:32px;
    background: url("images/close.png") no-repeat transparent;
    cursor: pointer;
    background-size: 100% 100%; 
    opacity: 0.8
}.close_bt:hover{


    opacity: 1

}
.message{
    padding-left: 20px;
    margin-top: -10px !important;
}
input.input{
    width:200px;
}

